#page-orphanage {
    display: flex;
    min-height: 100vh;
}

main {
    flex: 1;
}

.orphanage-details {
    width: 90rem;
    margin: 6.4rem auto;
    background-color: #FFFFFF;
    border: 1px solid #D3E2E5;
    border-radius: 2rem;
    overflow: hidden;
    padding: 8rem;
}

.orphanage-details > img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

.images {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.6rem;
    margin: 1.6rem 4rem 0;
}

.images button {
    border: none;
    background:none;
    height: 8.8rem;
    cursor: pointer;
    border-radius: 1rem;
    overflow: hidden;
    opacity: 0.6;
    transition: opacity 200ms;
}

.images button:hover, .images button.active {
    opacity: 1;
}

.images button img {
    width: 100%;
    height: 8.8rem;
    object-fit: cover;
}

.orphanage-details-content h1 {
    color: #4D6F80;
    font-size: 5.4rem;
    line-height: 1.5;
    margin-bottom: 0.8rem;
}

.orphanage-details-content p {
    line-height: 1.6;
    color: #5C8599;
    margin-top: 2.4rem;
}

.orphanage-details-content hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: #D3E2E6;
    margin: 6.4rem 0;
}

.orphanage-details-content h2 {
    font-size: 3.6rem;
    line-height: 1.5;
    color: #4D6F80;
}

.open-details {
    margin-top: 2.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.open-details img {
    display: block;
    margin-bottom: 2rem;
}

.open-details div {
    padding: 3.2rem 2.4rem;
    border-radius: 20px;
}

.open-details .hour {
    background: linear-gradient(150deg, #E6F7FB 8.1%, #FFFFFF 92%);
    border: 1px solid #B3DAE2;
    color: #5C8599;
}

.open-on-weekends.open {
    background: linear-gradient(150deg, #EDFFF6 8.1%, #FFFFFF 92%);
    border: 1px solid #A1E9C5;
    color: #37C77F;
}

.open-on-weekends.closed {
    background: linear-gradient(150deg, #FCF0F4 8.1%, #FFFFFF 92%);
    border: 1px solid #FFBCD4;
    color: #FF999D;
}